{% extends 'base/template.html' %}
{% load static %}
{% block content %}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<html>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>

<body style="background-color: #f9f9f9;">
    <nav class="breadcrumb">
        <a class="breadcrumb-item display-4  " style="margin-left: 30%;" href="{% url 'index' %}"
            style="font-style: italic; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Donate
          To this Project  &#x2192;</a> 
        <!-- <a class="breadcrumb-item" href="#"></a> -->

    </nav>



    <br>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>SEARCH CORONA CASE BY COUNTRY</h3>
                <!-- <input class="my-4" type="text" name="" id="target" required placeholder="search by country" > -->
                {% include "base/countries.html" %}

                    <!-- <img  id="load" src="" alt=""> -->
                    <!-- <small style="color: blue;font-weight: 100;font-size: xx-large;" id="load"></small> -->
                <button style="width: 300px; height: 80px;" id="submit" type="submit" class="btn btn-primary my-4 btn-outline-info text-white">Submit</button>
            </div>
        </div>
    </div>
    <h3 class="float-right" style="margin-right: 5%;"> API SOURCE <a href="https://github.com/novelcovid/api" target="_blank" rel="noopener noreferrer">Here</a>  </h3>
    <div class="container" style="margin-top: 5%;">

        <div class="row justify-content-center">

            <table id="cases" class="table table-bordered">
                <tr>
                    <th>Country</th>
                    <th>No Cases</th>
                    <th>TodayCases</th>
                    <th>Deaths</th>
                    <th>Today Deaths</th>
                    <th>Recovered</th>
                    <th>Critical</th>
                    <th>Updated On</th>
                 

                </tr>


            </table>

        </div>
        <h4>

        </h4>
    </div>

    <div class="container">
        <div class="row">
            <canvas id="myChart"></canvas>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            //

            // One Country ='https://corona.lmao.ninja/countries/USA'
            // all contry ='https://corona.lmao.ninja/countries?sort=country'

            $("#submit").click(function () {
             
                var target = $("#country").val();
                // console.log(target)
                url = 'https://corona.lmao.ninja/countries/' + target,
                    // url ='https://restcountries.eu/rest/v2/all',
                    $.ajax({
                        url: url,
                        type: 'GET',
                        dataType: 'json',
                        timeout: 30000,
                        beforeSend:function(){
                            $('#submit').html('loading data please wait...')
                            // $('#load').attr('src','static/images/load.gif')
                        },
                        complete:function(){
                            $('#submit').html('submit')
                          
                        },
                        success: function (data) {
                            // console.log(data)
                          
                            

                            $('#cases tbody').append(
                                '<tr><td>' + data.country +
                                '</td><td>' + data.cases +
                                '</td><td>' + data.todayCases +
                                '</td><td>' + data.deaths +
                                '</td><td>' + data.todayDeaths +
                                '</td><td>' + data.recovered +
                                    '</td><td>' + data.critical +
                                '</td><td>' + Date(data.updated) +
                               
                                '</td></tr>'
                            )

                            var ctx = document.getElementById('myChart').getContext('2d');
                                            // console.log(data)
                            var chart = new Chart(ctx, {
                                // The type of chart we want to create
                                type: 'line',
                                // The data for our dataset
                                data: {
                                    labels: ['Cases', 'Today Cases ', 'Today Death(s)',
                                        'Recovred', 
                                    ],
                                    datasets: [{
                                        label: 'NovelCOVID Result for '+data.country,
                                        backgroundColor: 'rgb(255, 99, 132)',
                                        borderColor: 'rgb(255, 99, 132)',
                                        data: [data.cases, data.todayCases, data.deaths, data.todayDeaths, data.recovered,]
                                    }]
                                },

                                // Configuration options go here
                                options: {
                                    
                                }
                            });


                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // alert('Error: ' + textStatus + ' - ' + errorThrown);

                            toastr.info('no NovelCOVID infomation found in this country or your network took too long to respond')
                            toastr.options.closeDuration = 3000;




                        }
                    });


            });

        });

      

      

    </script>



    <style>
        table {
            width: 50%;
        }

        th {
            background: #f1f1f1;
            font-weight: bold;
            padding: 6px;
        }

        td {
            background: #f9f9f9;
            padding: 6px;
        }
    </style>


    <!-- populate select box -->





</body>
</htm>



{% endblock content %}